
<div class="min-height-for-items">
  <ul id="page-display-area" class="projects"  data-bind="foreach: items" data-url="/projects" data-items="<%= @projects_json %>">
    <li>
      <div class="thumbnail">
        <img data-src="holder.js/300x200" class="span4" alt="" src="" data-bind="attr: { src: thumbnailUrl }">
        <div class="caption">
          <h3 data-bind="text: name">
          </h3>
          <div data-bind="html: description">
          </div>
          <p class="pull-right">
            <a href="#" class="btn btn-primary">More Details</a>
          </p>
        </div>
      </div>
    </li>
  </ul>


</div>
<div id="pagination-control" class="pagination pagination-large" data-total-pages="<%= @total_pages %>" >
  <ul>
    <li id="previous_page_button" class="<%= @current_page == 1 ? 'disabled' : '' %>">
      <a  href="#">Prev</a>
    </li>
    <li class="disabled">
      <a id="current-page" href="#" ><%= @current_page%></a>
    </li>
    <li id="next_page_button" class="<%= @total_pages == @current_page  || @total_pages == 0      ? 'disabled' : '' %>">
      <a href="#">Next</a>
    </li>
  </ul>
</div>
